body { 
  width: 375px;
  margin: 0;
  overflow: scroll;
}

/* Headline text */

.primary-text {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: #ff6b00;
  letter-spacing: 0.37px;
  margin: 0;
}

.supporting-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin: 0;
}

.description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

/* Navbar */

.navbar {
  display: flex;
  background: #3c3a39;
  width: inherit;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar nav {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

/* Headline */

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #1c1a19;
  padding: 120px 24px;
  gap: 12px;
  width: initial;
  height: 470px;
  background-image: url(./Illustration.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  margin: 0;
}

/* Social media */

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

/* Project Sections */

.grid-container {
  display: grid;
  grid-template-columns: auto;
  height: initial;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 1px;
  position: absolute;
  width: 375px;
}

.title-h1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.title-hr {
  width: 327px;
  border: 1px solid #212121;
}

/* frame */

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: initial;
}

 /* first card */

.featured {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px 24px;
  gap: 24px;
  flex: none;
}

.featured-img {
  width: 327px;
  height: 237px;
  background: url(image_processing20200716-21735-f07s4k.png);
}

.title-post {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  margin: 0;
}

.feature-supporting-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  text-align: justify;
}

.right-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.tags ul {
  list-style-type: none;
  box-sizing: border-box;
  padding: 10px 12px;
  background: #fff;
  border: 1px solid #8993a4;
}

.tags li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.tag1 {
  width: 49px;
  height: 40px;
}

.tag2 {
  width: 56px;
  height: 40px;
}

.tag3 {
  width: 95px;
  height: 40px;
}

.tag4 {
  width: 61px;
  height: 40px;
}

.button {
  padding: 12px;
  background: #ff6b00;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 17px;
  line-height: 24px;
  border: none;
}

/* second frame */

.second-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 24px;
  gap: 24px;
  width: -moz-available;
}

.card-works1 {
  position: inherit;
  width: 327px;
  height: 386px;
  background-image: url(./images/Mask\ Group1.png);
  background-repeat: no-repeat;
}

.right-block2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 12px;
  width: 327px;
  height: 248px;
}

.right-block2 h2 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: auto;
}

.right-block2 p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 0;
}

.block2-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.block2-tags ul {
  list-style-type: none;
}

.block2-tags li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.block2-tag1 {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
}

.block2-tag2 {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
}

.block2-tag3 {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
}

.action {
  position: absolute;
  text-align: center;
  width: inherit;
  border: none;
  background: #ff6b00;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

.button-container {
  display: flex;
  justify-content: center;
  width: inherit;
  height: 48px;
  background: #ff6b00;
  text-align: center;
  margin-top: 19px;
  margin-left: -16px;
}

/* about section */

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 24px;
  position: absolute;
  width: inherit;
  left: 0;
  top: 3400px;
  background: #1c1a19;
  background-image: url(./images/Frame.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}

.about h1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about .description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.about button {
  border: none;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 17px;
  display: flex;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  height: 48px;
}

/* skills section */

.about-hr {
  position: initial;
  width: 327px;
  color: #fff;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 23px;
  gap: 24px;
  position: absolute;
  width: initial;
  top: 4184px;
  background: #1c1a19;
  left: 1px;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 225.46px;
  height: 41.46px;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 225.46px;
  height: 41.46px;
}

.head1 {
  font-family: 'InaiMathi';
  font-style: normal;
  font-weight: 700px;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.languages ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 12px;
  gap: 8px;
  width: 186px;
  height: 216px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: #fff;
}

.box2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 230px 12px;
  gap: 12px;
  width: 281px;
  height: 40px;
}

.head2 {
  width: 227px;
  height: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.frameworks ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 12px;
  gap: 8px;
  width: 186px;
  height: 216px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 407px;
  left: 83px;
}

.box3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 28px 1px;
  gap: 12px;
  width: 169px;
  height: 40px;
}

.skills-list ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 10px;
  width: 138px;
  height: 272px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: #fff;
}

.head3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 58px;
  position: absolute;
  width: 375px;
  top: 5213px;
}

.contact-form-text {
  height: 216px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.text-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 1px 1px;
  width: inherit;
}

textarea {
  background: #fbf8f7;
  border: none;
}

textarea::placeholder {
  position: absolute;
  left: 12px;
  right: 12px;
  top: 12px;
  bottom: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.contact-form-button {
  padding: 12px;
  gap: 10px;
  height: 48px;
  background: #ff6b00;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer {
  padding: inherit;
}

.contact-form hr {
  width: inherit;
  background: #dfe1e6;
}
