body {
  margin: 0;
  overflow: scroll;
}

/* Hamburger CSS */

.ham-container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 4px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* Dropdown menu CSS */

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  background: #3c3a39;
  padding: 14px 16px;
  height: 600px;
  overflow: auto;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

.dropdown-content a {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
  color: #fff5e1;
  border-bottom: 2px solid;
  border-bottom-color: rgba(255, 255, 255, 0.15);
  padding: 15px;
}

.show {
  display: block;
}

/* Headline text */

.primary-text {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: #ff6b00;
  letter-spacing: 0.37px;
  margin: 0;
}

.supporting-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin: 0;
}

.description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

/* Navbar */

.navbar {
  display: flex;
  background: #3c3a39;
  width: inherit;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar nav {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.desktop-nav {
  display: none;
}

/* Headline */

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #1c1a19;
  padding: 120px 24px;
  gap: 12px;
  width: initial;
  background-image: url(./Illustration.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  margin: 0;
}

/* Social media */

.social-media {
  display: flex;
  align-items: center;
  margin: 0;
}

/* Project Sections */

.grid-container {
  display: grid;
  grid-template-columns: auto;
  height: initial;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 1px;
  overflow: clip;
}

.title-h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.title-hr {
  width: 327px;
  border: 1px solid #212121;
}

/* frame */

.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* first card */

.featured {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px 24px;
  gap: 24px;
  flex: none;
}

.featured-img {
  width: 327px;
  height: 237px;
  background: url(image_processing20200716-21735-f07s4k.png);
}

.feature-img1 {
  display: none;
}

.title-post {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  margin: 0;
}

.feature-supporting-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  text-align: justify;
}

.right-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.tags ul {
  list-style-type: none;
  box-sizing: border-box;
  padding: 10px 12px;
  background: #fff;
  border: 1px solid #8993a4;
}

.tags li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.tag1 {
  width: 49px;
  height: 40px;
}

.tag2 {
  width: 56px;
  height: 40px;
}

.tag3 {
  width: 95px;
  height: 40px;
}

.tag4 {
  width: 61px;
  height: 40px;
}

.button {
  padding: 12px;
  background: #ff6b00;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
}

/* second frame */

.second-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px 24px;
  margin-bottom: 20px;
}

.second-frame:hover {
  transform: scale(1.1);
}

/* card works section */
.card-works1 {
  position: inherit;
  width: 327px;
  height: 386px;
  background-image: url(./images/Mask\ Group1.png);
  background-repeat: no-repeat;
}

.card-works2 {
  position: inherit;
  width: 327px;
  height: 386px;
  background-image: url(./images/Mask\ Group1.png);
  background-repeat: no-repeat;
}

.card-works3 {
  position: inherit;
  width: 327px;
  height: 386px;
  background-image: url(./images/Mask\ Group1.png);
  background-repeat: no-repeat;
}

.card-works4 {
  position: inherit;
  width: 327px;
  height: 386px;
  background-image: url(./images/Mask\ Group1.png);
  background-repeat: no-repeat;
}

.card-works5 {
  position: inherit;
  width: 327px;
  height: 386px;
  background-image: url(./images/Mask\ Group1.png);
  background-repeat: no-repeat;
}

.card-works6 {
  position: inherit;
  width: 327px;
  height: 386px;
  background-image: url(./images/Mask\ Group1.png);
  background-repeat: no-repeat;
}

.right-block2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 12px;
  width: 300px;
  height: 248px;
}

.right-block2 h2 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: auto;
}

.right-block2 p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 0;
}

.block2-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.block2-tags ul {
  list-style-type: none;
}

.block2-tags li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.block2-tag1 {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
}

.block2-tag2 {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
}

.block2-tag3 {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
}

.action {
  position: absolute;
  text-align: center;
  width: inherit;
  border: none;
  background: #ff6b00;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 327px;
  height: 48px;
  background: #ff6b00;
  text-align: center;
  margin-top: 42px;
  margin-left: -16px;
}

.action-hidden {
  visibility: hidden;
  width: 0;
}

/* about section */

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 24px;
  position: relative;
  width: inherit;
  left: 0;
  top: 50px;
  background: #1c1a19;
  background-image: url(./images/Frame.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}

.about h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about .description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.about button {
  border: none;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  display: flex;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  height: 48px;
}

/* skills section */

.about-hr {
  position: initial;
  width: 327px;
  color: #fff;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  width: 100%;
  top: 50px;
  background: #1c1a19;
  left: 0;
}

.languages {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  gap: 12px;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  width: 225.46px;
  height: 41.46px;
}

.head1 {
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.languages ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 186px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: #fff;
}

.box2 {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 281px;
  height: 40px;
}

.head2 {
  width: 227px;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.frameworks {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  gap: 12px;
  width: 225.46px;
}

.frameworks ul {
  position: relative;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 186px;
  height: 216px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: #fff;
}

.box3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  height: 40px;
}

.skills-list {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  gap: 12px;
}

.skills-list ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: #fff;
}

.head3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 58px;
  position: relative;
  width: 100%;
  top: 100px;
}

.contact-form-text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.text-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 1px 1px;
  width: inherit;
}

textarea {
  background: #fbf8f7;
  border: none;
}

textarea::placeholder {
  position: absolute;
  left: 12px;
  right: 12px;
  top: 12px;
  bottom: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.contact-form-button {
  padding: 12px;
  gap: 10px;
  height: 48px;
  background: #ff6b00;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer {
  padding: inherit;
  text-align: center;
}

.contact-form hr {
  width: inherit;
  background: #dfe1e6;
}

* button:hover {
  border: 1px solid #f55800;
  background: #fff5e1;
  color: #f55800;
  cursor: pointer;
}

form {
  justify-content: flex-start;
}

.btn {
  text-align: center;
}

.footer-content {
  position: relative;
  top: 120px;
  width: 100%;
}

.form-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 330px;
}

.lastname-input {
  display: none;
}

.firstname-input {
  display: none;
}

/* Modal CSS */

.modal {
  margin: auto;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

/* Modal Content */
.modal-content {
  margin: auto;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  background-color: #fff;
  position: absolute;
  width: 343px;
  top: 5px;
  height: auto;
  left: calc(50% - 343px / 2);
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  font-size: 28px;
  font-weight: bold;
  padding: 35px;
}

.close:hover,
.close:focus {
  color: rgb(236, 227, 227);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  padding-left: 14px;
  height: 200px;
}

.modal-h2 {
  display: none;
}

.modal-h22 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.modal-p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
  padding-left: 20px;
}

.modal-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  background: #f55800;
  width: 134px;
  height: 48px;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  position: relative;
  left: 10px;
}

.modal-button2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  position: relative;
  width: 159px;
  height: 48px;
  background: #f55800;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  left: 153px;
  top: -48px;
}

.modal-tags {
  position: absolute;
  top: 100px;
}

.modal-tags ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
}

.tags1 {
  box-sizing: border-box;
  border: 1px solid #979493;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 59px;
  height: 40px;
}

.tags2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 99px;
  height: 40px;
  border: 1px solid #979493;
}

.tags3 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 120px;
  height: 40px;
  border: 1px solid #979493;
}

.modal-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error {
  display: none;
  background-color: red;
  margin-top: 10px;
  height: 50px;
  width: 300px;
  color: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.show-error {
  display: flex;
}

@media screen and (min-width: 800px) {
  .headline {
    display: flex;
    flex-direction: column;
    background-image: url(./images/Illustration-header.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 32%;
  }

  .social-media {
    position: absolute;
    left: 2.5%;
    float: left;
    flex-direction: column;
  }

  .headline-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: right;
    left: 143px;
    position: relative;
    width: 566px;
    gap: 24px;
  }

  .about {
    background-image: url(./images/Frame2.png);
    background-position: right;
    background-repeat: no-repeat;
  }

  .about-info {
    width: 566px;
  }

  .about-hr {
    width: 1156px;
  }

  .contact-form-text {
    float: left;
    position: absolute;
    text-align: left;
    width: 455px;
    gap: 24px;
  }

  .contact-form-text:hover {
    transform: translate(15px, 1px);
  }

  .form-contents {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 684px;
    height: 330px;
    left: 40%;
  }

  .btn {
    text-align: left;
  }

  .skills {
    display: flex;
    flex-direction: row;
  }

  .skills-list ul {
    align-items: flex-start;
    text-align: left;
  }

  .hr-div {
    position: absolute;
    top: -50px;
    width: 100%;
  }

  .languages {
    position: relative;
    left: 141px;
  }

  .languages ul {
    align-items: flex-start;
    text-align: left;
  }

  .frameworks {
    position: relative;
    left: 20%;
  }

  .frameworks ul {
    align-items: flex-start;
    text-align: left;
  }

  .skills-list {
    position: relative;
    left: 479px;
  }

  .footer-content {
    position: relative;
    width: 100%;
  }

  .contact-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 130px 1px;
    gap: 24px;
    position: relative;
    width: 1163px;
    left: 135px;
  }

  .lastname-input {
    display: block;
    position: absolute;
    left: 354px;
    width: 330px;
  }

  .firstname-input {
    display: block;
    width: 330px;
  }

  .second-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px 24px;
    gap: 24px;
  }

  .frame {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    left: 118px;
    position: relative;
  }

  .featured {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    left: 38px;
    padding: 23px;
  }

  .works-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .title-hr {
    width: 794px;
    border: 1px solid #212121;
  }

  .feature-supporting-text {
    width: 448px;
  }

  .feature-img1 {
    display: block;
  }

  .feature-img {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .desktop-nav {
    display: flex;
    list-style-type: none;
    gap: 20px;
  }

  .navbar nav {
    justify-content: space-around;
  }

  .description {
    animation-duration: 3s;
    animation-name: slidein;
  }

  /* Card works section2 */

  .card-works1 {
    position: inherit;
    width: 327px;
    height: 386px;
    background:
      linear-gradient(
        179.35deg,
        rgba(38, 38, 38, 0) 0.85%,
        rgba(38, 38, 38, 0.9) 84%
      ),
      url(./images/DeskHov.png);
    background-repeat: no-repeat;
  }

  .card-works2 {
    position: inherit;
    width: 327px;
    height: 386px;
    background:
      linear-gradient(
        179.35deg,
        rgba(38, 38, 38, 0) 0.85%,
        rgba(38, 38, 38, 0.9) 84%
      ),
      url(./images/DeskBack.png);
    background-repeat: no-repeat;
  }

  .card-works3 {
    position: inherit;
    width: 327px;
    height: 386px;
    background:
      linear-gradient(
        179.35deg,
        rgba(38, 38, 38, 0) 0.85%,
        rgba(38, 38, 38, 0.9) 84%
      ),
      url(./images/other2.png);
    background-repeat: no-repeat;
  }

  .card-works5 {
    position: inherit;
    width: 327px;
    height: 386px;
    background:
      linear-gradient(
        179.35deg,
        rgba(38, 38, 38, 0) 0.85%,
        rgba(38, 38, 38, 0.9) 84%
      ),
      url(./images/DeskBack.png);
    background-repeat: no-repeat;
  }

  .card-works6 {
    position: inherit;
    width: 327px;
    height: 386px;
    background:
      linear-gradient(
        179.35deg,
        rgba(38, 38, 38, 0) 0.85%,
        rgba(38, 38, 38, 0.9) 84%
      ),
      url(./images/other2.png);
    background-repeat: no-repeat;
  }

  .right-block2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 122px 26px;
    gap: 12px;
    width: 300px;
    position: relative;
    height: 248px;
    left: calc(50% - 369px / 2);
  }

  .second-frame:hover .card-works1 {
    cursor: pointer;
    background:
      linear-gradient(
        179.35deg,
        rgba(38, 38, 38, 0) 100.85%,
        rgba(38, 38, 38, 0.9) 84%
      ),
      url(./images/DeskHov.png);
  }

  .second-frame:hover .card-works2 {
    cursor: pointer;
    background:
      linear-gradient(
        179.35deg,
        rgba(38, 38, 38, 0) 100.85%,
        rgba(38, 38, 38, 0.9) 84%
      ),
      url(./images/DeskHov.png);
  }

  .second-frame:hover .card-works3 {
    cursor: pointer;
    background:
      linear-gradient(
        179.35deg,
        rgba(38, 38, 38, 0) 100.85%,
        rgba(38, 38, 38, 0.9) 84%
      ),
      url(./images/DeskHov.png);
  }

  .second-frame:hover .card-works4 {
    cursor: pointer;
    background:
      linear-gradient(
        179.35deg,
        rgba(38, 38, 38, 0) 100.85%,
        rgba(38, 38, 38, 0.9) 84%
      ),
      url(./images/DeskHov.png);
  }

  .second-frame:hover .card-works5 {
    cursor: pointer;
    background:
      linear-gradient(
        179.35deg,
        rgba(38, 38, 38, 0) 100.85%,
        rgba(38, 38, 38, 0.9) 84%
      ),
      url(./images/DeskHov.png);
  }

  .second-frame:hover .card-works6 {
    cursor: pointer;
    background:
      linear-gradient(
        179.35deg,
        rgba(38, 38, 38, 0) 100.85%,
        rgba(38, 38, 38, 0.9) 84%
      ),
      url(./images/DeskHov.png);
  }

  .second-frame:hover .right-block2 {
    visibility: hidden;
  }

  .second-frame:hover .action-hidden {
    visibility: visible;
    height: 48px;
  }

  .action-btn {
    position: absolute;
    text-align: center;
    width: inherit;
    border: none;
    background: #ff6b00;
    height: 48px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #fff;
    top: 339px;
  }

  .action-btn:hover {
    border: 1px solid #f55800;
    background: #fff5e1;
    color: #f55800;
    cursor: pointer;
  }

  .button-container {
    display: none;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  /* Modal CSS */

  .modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  /* Modal Content */
  .modal-content {
    margin: auto;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-color: #fff;
    position: absolute;
    width: 1156px;
    height: 600px;
    left: 100px;
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }

    to {
      top: 0;
      opacity: 1;
    }
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }

    to {
      top: 0;
      opacity: 1;
    }
  }

  /* The Close Button */
  .close {
    font-size: 28px;
    font-weight: bold;
    padding: 35px;
  }

  .close:hover,
  .close:focus {
    color: rgb(236, 227, 227);
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    display: flex;
    flex-direction: row;
    padding-left: 14px;
    justify-content: space-between;
    height: 130px;
  }

  .modal-h2 {
    display: block;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .modal-p {
    width: 424px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
    padding-left: 20px;
  }

  .modal-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    gap: 12px;
    background: #f55800;
    position: absolute;
    width: 134px;
    height: 48px;
    left: 708px;
    top: calc(50% - 48px / 2 + 264.5px);
    border: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
  }

  .modal-button2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px;
    gap: 12px;
    position: absolute;
    width: 159px;
    height: 48px;
    left: 849px;
    top: calc(50% - 48px / 2 + 264.5px);
    background: #f55800;
    border: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
  }

  .modal-tags {
    position: absolute;
    top: 60px;
  }

  .modal-tags ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
  }

  .tags1 {
    box-sizing: border-box;
    border: 1px solid #979493;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 59px;
    height: 40px;
  }

  .tags2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 99px;
    height: 40px;
    border: 1px solid #979493;
  }

  .tags3 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    width: 120px;
    height: 40px;
    border: 1px solid #979493;
  }

  .modal-body {
    padding: 2px 16px;
    display: flex;
    flex-direction: row;
  }

  .modal-h22 {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .modal {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
  }

  .modal-content {
    margin: auto;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: fixed;
    width: 343px;
    height: 655px;
    left: calc(50% - 343px / 2);
    top: 5px;
    overflow: scroll;
  }
}
